<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @film[:title] %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron">
    <h1>Title: <%= @film[:title] %></h1>
    <h2>Year: <%= @film[:year] %></h2>
  </div>
</body>
</html>